<%= turbo_frame_tag("astronauts") do %>
<div class="overflow-x-auto relative shadow-md sm:rounded-lg pr-1">
  <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400 border border-collapse">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th scope="col" class="p-4">
          <div class="flex items-center" data-controller="marker">
            <input data-action="click->marker#click" data-marker-checkbox-outlet=".astronaut-checkbox" id="checkbox-all" type="checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 rounded border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
            <label for="checkbox-all" class="sr-only">checkbox</label>
          </div>
        </th>
        <th scope="col" class="p-2 font-bold text-left text-sm">Name</th>
        <th scope="col" class="p-2 font-bold text-left text-sm">Position</th>
        <th scope="col" class="p-2 font-bold text-left text-sm">Age</th>
        <th scope="col" class="p-2 font-bold text-left text-sm">Country</th>
        <th scope="col" class="p-2 font-bold text-left text-sm">Actions</th>
      </tr>
    </thead>
    <tbody id="astronauts-table">
      <%- if astronauts.present? -%>
        <%- astronauts.each do |astronaut| %>
          <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
            <td class="p-4 w-4">
              <div class="flex items-center">
                <input id="checkbox-table-<%= astronaut.id %>" type="checkbox" class="astronaut-checkbox w-4 h-4 text-blue-600 bg-gray-100 rounded border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                <label for="checkbox-table-<%= astronaut.id %>" class="sr-only">checkbox</label>
              </div>
            </td>
            <td class="border p-2"><%= astronaut.name %></td>
            <td class="border p-2"><%= astronaut.position.titleize %></td>
            <td class="border p-2"><%= astronaut.age %></td>
            <td class="border p-2">
              <span class="text-xl align-middle"><%= flag_emoji(astronaut.country_code) %></span>
              <span class="align-middle"><%= code_to_country(astronaut.country_code) %></span>
            </td>
            <td class="border p-2">
              <div class="flex flex-row items-center">
                <%= link_to edit_astronaut_path(astronaut), class: "flex flex-row text-green-600" do %>
                  <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z"></path></svg>
                <%- end -%>
                <%= button_to astronaut_path(astronaut), method: :delete, data: {turbo_confirm: "Are you sure"}, class: "flex flex-row text-red-600" do %>
                  <svg class="w-6 h-6 " fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"></path></svg>
                <%- end -%>
              </div>
            </td>
          </tr>
        <%- end -%>
      <%- end -%>
    </tbody>
  </table>
</div>
<%- end -%>
