<%= form_with model: import do |form| %>
  <div data-controller="uppy" data-uppy-types-value="<%= %w[application/xml text/xml].to_json %>" data-uppy-server-value="s3" class="flex direct items-center justify-center w-full">
    <%= form.label :file, class: "flex flex-col items-center justify-center w-64 h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600" do %>
      <div class="flex flex-col items-center justify-center pt-5 pb-6">
        <svg class="w-10 h-10 mb-3 text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12"></path></svg>
      </div>
      <%= form.hidden_field :file, value: @import.cached_file_data, data: {uppy_target: "result"} %>
      <%= form.file_field :file, class: "hidden", data: {uppy_target: "input"}%>
    <%- end -%>

  </div>
  <div class="mt-4 flex justify-center">
    <%= form.submit("Prepare import", class: "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center mr-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800") %>
  </div>
<%- end -%>
