<div class="overflow-x-auto relative shadow-md sm:rounded-lg">
  <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase dark:text-gray-400">
      <tr>
        <th scope="col" class="py-3 px-6 bg-gray-50 dark:bg-gray-800">
          File name
        </th>
        <th scope="col" class="py-3 px-6">
          Time spent
        </th>
        <th scope="col" class="py-3 px-6">
          State
        </th>
        <th scope="col" class="py-3 px-6">
          Started at
        </th>
        <th scope="col" class="py-3 px-6">
          Finished at
        </th>
        <th scope="col" class="py-3 px-6">
          Failed at
        </th>
      </tr>
    </thead>
    <tbody>
      <%- imports.present? -%>
      <%- imports.each do |import| %>
      <tr class="border-b border-gray-200 dark:border-gray-700">
        <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:text-white dark:bg-gray-800">
          <%= import.file_name %>
        </th>
        <td class="py-4 px-6">
          <%= time_spent_in_hhmmss(import.started_at, import.finished_at) %>
        </td>
        <td class="py-4 px-6">
          <%= import.state %>
        </td>
        <td class="py-4 px-6">
          <%= datetime_format(import.started_at) %>
        </td>
        <td class="py-4 px-6">
          <%= datetime_format(import.finished_at) %>
        </td>
        <td class="py-4 px-6">
          <%= datetime_format(import.failed_at) %>
        </td>
      </tr>
      <%- end -%>
    </tbody>
  </table>
</div>
